<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{place.name}}</title>

    {{> font}}

    <link rel="stylesheet" href="/css/output.css" />
</head>
<body>
    {{> navbar}}

    <div class="w-full min-h-screen bg-white pt-14 pb-20">
        <div class="w-full mx-auto max-w-[340px] lg:max-w-4xl xl:max-w-6xl 2xl:max-w-[1450px] flex flex-col">
            <div class="flex flex-row items-center gap-x-4 w-fit mx-auto lg:mx-0 mb-8">
                <p class="font-poppins font-semibold text-kirani-black text-[20px] lg:text-[28px] xl:text-[32px] 2xl:text-[34px]">{{place.name}}</p>
                <div class="flex flex-row items-center gap-x-1">
                    <svg class="w-6 lg:w-8 2xl:w-9" fill="#FFA235" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>star</title> <path d="M3.488 13.184l6.272 6.112-1.472 8.608 7.712-4.064 7.712 4.064-1.472-8.608 6.272-6.112-8.64-1.248-3.872-7.808-3.872 7.808z"></path> </g></svg>

                    <p class="font-poppins font-medium text-[16px] lg:text-[18px] xl:text-[20px] 2xl:text-[22px] text-[#1F1449]">{{place.overallRating}}/10</p>
                </div>
            </div>

            <div class="relative w-full mb-6 lg:mb-12">
                <img src="{{place.imageURL}}" class="w-full opacity-0 pointer-events-none select-none" alt="">
                <img src="{{place.imageURL}}" class="w-full h-full rounded-[12px] absolute z-10 top-0 left-0" alt="">
                <div class="absolute bottom-0 left-0 z-20 flex-row p-2 gap-x-2 xl:gap-x-4 rounded-t-[12px] rounded-br-[12px] bg-[#F8ECEB] w-fit hidden lg:flex">
                    <div class="flex flex-row items-center gap-x-1 xl:gap-x-2">
                        <img class="w-10" src="/images/parking.svg" alt="">
                        <p class="font-poppins font-regular text-black text-[12px] xl:text-[16px]">{{place.parking}}</p>
                    </div>

                    <div class="flex flex-row items-center gap-x-1 xl:gap-x-2">
                        <img class="w-10" src="/images/wifi.svg" alt="">
                        <p class="font-poppins font-regular text-black text-[12px] xl:text-[16px]">{{place.wifi}}</p>
                    </div>

                    <div class="flex flex-row items-center gap-x-1 xl:gap-x-2">
                        <img class="w-9" src="/images/conference.svg" alt="">
                        <p class="font-poppins font-regular text-black text-[12px] xl:text-[16px]">{{place.room}}</p>
                    </div>

                    <div class="flex flex-row items-center gap-x-1 xl:gap-x-2">
                        <img class="w-9" src="/images/open.svg" alt="">
                        <p class="font-poppins font-regular text-black text-[12px] xl:text-[16px]">{{place.openHour}}-{{place.closeHour}}</p>
                    </div>

                    <div class="flex flex-row items-center gap-x-1 xl:gap-x-2">
                        <img class="w-9" src="/images/coin.svg" alt="">
                        <p class="font-poppins font-regular text-black text-[12px] xl:text-[16px]">{{divide place.priceMin 1000}}-{{divide place.priceMax 1000}}k</p>
                    </div>

                    <div class="flex flex-row items-center gap-x-1 xl:gap-x-2">
                        <img class="w-9" src="/images/him-icon.svg" alt="">
                        <p class="font-poppins font-regular text-black text-[12px] xl:text-[16px]">{{place.himRating}}/10</p>
                    </div>

                    <div class="flex flex-row items-center gap-x-1 xl:gap-x-2">
                        <img class="w-9" src="/images/her-icon.svg" alt="">
                        <p class="font-poppins font-regular text-black text-[12px] xl:text-[16px]">{{place.herRating}}/10</p>
                    </div>
                </div>
            </div>

            <div class="w-full bg-[#F8ECEB] rounded-[12px] p-4 lg:hidden mb-6">
                <div class="flex flex-row justify-between">
                    <div class="flex flex-col gap-y-2">
                        <div class="flex flex-row items-center gap-x-2">
                            <img class="w-8" src="/images/parking.svg" alt="">
                            <p class="font-poppins font-regular text-[11px] text-black">{{place.parking}}</p>
                        </div>

                        <div class="flex flex-row items-center gap-x-2">
                            <img class="w-8" src="/images/wifi.svg" alt="">
                            <p class="font-poppins font-regular text-[11px] text-black">{{place.wifi}}</p>
                        </div>

                        <div class="flex flex-row items-center gap-x-2">
                            <img class="w-8" src="/images/conference.svg" alt="">
                            <p class="font-poppins font-regular text-[11px] text-black">{{place.room}}</p>
                        </div>
                    </div>

                    <div class="flex flex-col gap-y-2">
                        <div class="flex flex-row items-center gap-x-2">
                            <img class="w-8" src="/images/him-icon.svg" alt="">
                            <p class="font-poppins font-regular text-[11px] text-black">{{place.himRating}}/10</p>
                        </div>

                        <div class="flex flex-row items-center gap-x-2">
                            <img class="w-8" src="/images/her-icon.svg" alt="">
                            <p class="font-poppins font-regular text-[11px] text-black">{{place.herRating}}/10</p>
                        </div>

                        <div class="flex flex-row items-center gap-x-2">
                            <img class="w-8" src="/images/open.svg" alt="">
                            <p class="font-poppins font-regular text-[11px] text-black">{{place.openHour}}-{{place.closeHour}}</p>
                        </div>
                    </div>

                    <div class="flex flex-col gap-y-2">
                        <div class="flex flex-row items-center gap-x-2">
                            <img class="w-8" src="/images/coin.svg" alt="">
                            <p class="font-poppins font-regular text-[11px] text-black">{{divide place.priceMin 1000}}-{{divide place.priceMax 1000}}k</p>
                        </div>
                    </div>
                </div>
            </div>

            <p class="font-poppins font-light text-[12px] lg:text-[16px] xl:text-[20px] text-black mb-8 text-justify">{{place.description}}</p>
        </div>
    </div>
</body>
</html>